<!DOCTYPE html>

<html id="{{ app.request.get('_route') }}"
      class="{{ project.lockedclass }} {{ project.loginClass }} {{ project.userStatus }} {% block rootclass %}no_app{% endblock %}"
      lang="de">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="cleartype" content="on" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="HandheldFriendly" content="true" />
        <meta name="MobileOptimized" content="width" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <meta name="description" content="project" />

        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />

        <title>
            {% if ( project.screenlocked == false ) %}
                {% block title %}BasicMaster{% endblock %} - {{ project.title }}
            {% else %}
                Offline - {{ project.title }}
            {% endif %}
        </title>

        <link rel="stylesheet" href="{{ asset('css/myStyles.css') }}?ver={{ project.cssLastChange }}" />

        {% block script_top %}{% endblock %}
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        {#{% include 'Dept1ProjectBundle:Part:google_analytics.html.twig' %}#}
    </head>

    <body>
        <div class="page_body">
            {% if ( project.screenlocked == false ) %}
                {% block body %}{% endblock %}
            {% else %}
                {# locked screen content #}
                {% include 'Dept1ProjectBundle:Part:coming_soon.html.twig' %}
                {# end: locked screen content #}
            {% endif %}
        </div>
        <script type="text/javascript" src="/js/form-validator/jquery.form-validator.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/myScripts.js') }}?ver={{ project.cssLastChange }}"></script>

        {% block script_bottom %}{% endblock %}
    </body>
</html>

