{% extends 'Dept1BasicBundle:Layout:basic_master.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}

    <div class="container" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Basic Index</h1>
            <p>Theme Example: <a href="{{ path('dept1_basic_theme') }}">Lets take a look.</a></p>
        </div>
        <div id="loading">
            <img src="{{ asset('images/icon-loading.gif') }}" />
            <span>Loading ...</span>
        </div>
        <div>Api is alive: <a href=" {{ url('dept1_basic_check_api') }}">Backend is alive?</a></div>
        <div>
            {{ project.isLive }}
            {{ project.isOver }}
            {{ project.title }}
        </div>
    </div> <!-- /container -->
{% endblock %}

